<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    # Chặn truy cập trực tiếp vào file nhạy cảm
    RewriteRule ^(.*)/\.env$ - [F,L]
    RewriteRule ^(.*)/composer\.(json|lock)$ - [F,L]

    # Chuyển mọi yêu cầu vào thư mục public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>